body{
    background-color: lightblue;
    color: darkmagenta;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a{
    display: inline-block;
    background-color: orange;
    color: black;
    margin: 0.5px;
    padding: 0.5rem;
    text-decoration: none;
    
}